<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EstateData.Properties.Settings.estateConnectionString"
            connectionString="Data Source=ASUSN53\SQL2008;Initial Catalog=estate;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>